<!doctype html>
<html ng-app="homEco">
  <head>
    <title>家居智能管理</title>
    <!-- include css files -->
    <link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/common.css">
  </head>
  <base href="/"/>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">homEco</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav navbar-right" >
            <div style="margin-top: 10px;">
              <li>
                <div style="color: white">{{loginInfo.users.password2}}</div>
              </li>
              <li>
                <a href="#" ng-click="logout()">Log out</a>
              </li>
            </div>
          </ul>
        </nav>
      </div>
    </div>
    <div style="height:60px"></div>
    <!-- message area -->
    <div class="container alert alert-success" ng-show="messg.saveSuccess" role="alert">登录成功信息！
      <button type="button" class="close" aria-label="Close" ng-click="close('saveSuccess')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="container alert alert-danger" ng-show="messg.alertDanger" role="alert">登录失败信息！
      <button type="button" class="close" aria-label="Close" ng-click="close('alertDanger')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <!-- info area -->
    <div class="container">
      <h3>
        <span class="label label-warning" ng-show="loginInfo.homeAccts">上月财务评级：<label ng-model="loginInfo.homeAccts.lastMontLevel"></label></span>
        <span class="label label-success" ng-show="loginInfo.homeAccts" style="margin-left: 10px;">本月财务预评级：<label ng-model="loginInfo.homeAccts.currentMontLevel"></label></span>
        <span class="label" ng-show="loginInfo.homeAccts" style="margin-left: 10px;background-color: #000000;">家庭账户余额：<label ng-model="loginInfo.homeAccts.cashAcct"></label> 元</span>
      </h3>
    </div>
    <!-- content area -->
    <div class="container" style="margin-top:10px;height: 100%">
      <div id="left" class="jumbotron" ng-show="loginInfo" style="width:11%;float:left;margin: 0 auto;padding: 10px;text-align: center">
        <div style="margin: 10px;"><button type="button" class="btn btn-danger btn-block" ng-click="daliyExp()">日常支出</button></div>
        <div style="margin: 10px;"><button type="button" class="btn btn-success btn-block" ng-click="incomes()">各项收入</button></div>
        <div style="margin: 10px;"><button type="button" class="btn btn-success btn-block" ng-click="reports()">月度管理</button></div>
      </div>
      <div id="right" class="" style="width:85%;float:right;margin: 0 auto;" ng-view></div>
    </div>
    <!-- include javascript -->
    <script type="text/javascript" src="/components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr-CH.min.js"></script>
    <script type="text/javascript" src="/components/angular/angular.js"></script>
    <script type="text/javascript" src="/components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/homeco.js"></script>
    <script type="text/javascript" src="/route.js"></script>
    <script type="text/javascript" src="/controllers/login.js"></script>
    <script type="text/javascript" src="/controllers/regist.js"></script>
    <script type="text/javascript" src="/controllers/main.js"></script>
    <script type="text/javascript" src="/controllers/daliyExp.js"></script>
    <script type="text/javascript" src="/controllers/incomes.js"></script>
    <script type="text/javascript" src="/controllers/reports.js"></script>
  </body>
</html>